.sign-back,
.signin {
    background-color: #d3d3d3;
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    height: 100vh;
}

.login {
    position: relative;
    top: 30px;
    height: 560px;
    width: 405px;
    margin: auto;
    padding: 60px 60px;
    background: #505050;
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #000;
}

.sign-form {
    padding-top: 80px;
}

.active {
    border-bottom: 2px solid #1161ed;
}

.nonactive {
    color: rgba(255, 255, 255, 0.2);
}

.form-header {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

.form-header:first-child {
    padding-left: 0px;
}

.input-header {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
}

.text {
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus + .input-header {
    opacity: 0.6;
    padding-bottom: 10px;
}

.text[type="text"],
.text[type="password"] {
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
}



.text {
    display: inline-block;
    padding-top: 20px;
    font-size: 26px;
    padding-bottom: 10px;
}

.form-header,
.input-header {
    margin-left: 20px;
}

.signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.signin:focus {
    outline: none;
}

.error-message {
    position: relative;
    top: -10px;
    left: 10px;
    font-size: 12px;
}

.sign-in-error {
    position: relative;
    left: 15px;
    top: 15px;
}

