.about {
  position: absolute;
  width:100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  margin: 0;
  padding: 0;
  animation: Gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;

}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.info {
  width: 40%;
  margin-left: 100px;
}

.info:nth-child(3) {
  width: 45%
}

.info h1 {
  color: #FFFFFF;
  font-family: 'Comfortaa', sans-serif;
  box-sizing: border-box;
}

.info p {
  color: white;
  font-family: 'Comfortaa', sans-serif;
  box-sizing: border-box;
  font-size: 22px;
}


.btn {
  position: relative;
  top: 30px;
  left: 60px;
  width: 30%;
  height: 10%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 24px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 3px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  color: #23d5ab;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
  font-size: 30px;
}

.btn p {
  position: relative;
  top: -15%;
  left: 20%;
}

.btn:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
.btn:hover {
  box-shadow: 0 1px 1px 0  #cfcfcf, 0 2px 5px 0  #cfcfcf;
  background: #23d5ab;
  color: #FFFFFF;
}

.btn:disabled {
  background-color: #eee;
  color: #444;
  pointer-events: none;
}

